body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
div.feel, div.zip{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#app{
    display: grid;
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-template-columns:  */
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{

}

div.entry{
    display: block;
    background-color: #3b4a6b;
}

#entryHolder{
    background-color: #f0d43a;
    /* color: #3b4a6b; */
    color: #f23557;
    margin: 2em 4em;
    justify-content: center;
    text-align: center;
    line-height: 2.5;
    font-weight: 700;
}

#date{

}

#temp{

}

#content{

}

.headline {
    background-color: #3b4a6b;
}
h1{
    text-align: center;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    color: #3b4a6b;
}
input{
    display:block;
    width: 320px;
    height: 2em;
}
textarea, input{
    
    background: rgba(255, 255, 255, .7);
    /* background:rgba(68, 68, 68, .5); */
    /* color: #f0d43a; */
    color: #3b4a6b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 70px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 2em;
}
h1{
    font-size: 36px;
}

/* {
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
} */
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgb(68, 68, 68); 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 